# Ignore everything...
*

# ...except:
!.gitignore

# https://minecraft.fandom.com/el/wiki/Level_format
# world/* is completely ignored, because docker run -e WORLD=/data/world-init copies world-init/ to world/ on start!
world/*

!config
config/*
!config/storeys-web
config/storeys-web/*

!config/storeys-web/stories
config/storeys-web/stories/*
!config/storeys-web/stories/*.story

!config/storeys-web/scratch
config/storeys-web/scratch/*
!config/storeys-web/scratch/*.sb3

!config/storeys-web/scripts
config/storeys-web/scripts/*
!config/storeys-web/scripts/*.js

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files explains the weird format above.
