<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="<%= htmlWebpackPlugin.files.chunks.test.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.minecraft.entry %>"></script>
</head>

<body>
  <button id="sendTitle" onclick="ext.scratchMinecraftExtension.sendTitle('hello, world', ext.callback(this.id))">Send Title</button>
  <button id="narrate" onclick="ext.scratchMinecraftExtension.narrate('joe', 'hi', ext.callback(this.id))">Narrate</button>
</body>

</html>