# https://github.com/containers/common/blob/main/docs/containerignore.5.md

# Nothing to ignore, since our
# Dockerfile-build does not actually COPY anything, and
# Dockerfile only COPY specifically what it needs.
