.settings/
.project
.classpath

bin/
.apt_generated/
xtend-gen/
.rpt2_cache/
.gradle/
build/
out/
.gradletasknamecache
/.nb-gradle/
dist/

.idea/
*.iml

node_modules/
coverage/

web/.vertx/file-cache-*

.vscode/
.history/
.vertx/

/test-mineflayer/cypress/videos/
/test-mineflayer/cypress/screenshots/
